@inject IHttpContextAccessor ContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Postapic</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<header>
    <nav>
        <a href="/" class="nav-logo">Post a pic!</a>
        
        <ul class="nav-menu container">
            <li><a href="/" class="@GetNavClass("/")">Explore</a></li>
            <li><a href="#" class="post-btn">Post&nbsp;a&nbsp;pic!</a></li>
        </ul>
        
        <div class="nav-user dropdown">
            @if (!User.Identity?.IsAuthenticated ?? true)
            {
                <span class="user-name"><a href="/login">Login</a></span>
            }
            else
            {
                <span class="dropdown-toggle user-name">@User.Identity!.Name</span>
                <ul class="dropdown-menu">
                    @if (User.IsInRole("Admin"))
                    {
                    <li><a href="/settings" class="@GetNavClass("/settings")">Settings</a></li>
                    }
                    <li><a href="/logout" class="@GetNavClass("/logout")">@User.Identity.Name - Log out</a></li>
                </ul>
            }
        </div>
    </nav>
</header>

<form class="upload-form hidden" asp-page="/PostPage" asp-page-handler="CreateDraft" method="post" enctype="multipart/form-data">
    <input type="file" name="files" accept="image/*" multiple />
</form>

<main role="main" class="pb-3">
    <div class="container">
        @RenderBody()
    </div>
</main>

<footer>
    <p>Post a pic! was made with 💕 and is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPL 3.0</a> · <a href="https://github.com/alvanrahimli/postapic/">Open source</a></p>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

@{
    string GetNavClass(string url)
    {
        return ContextAccessor.HttpContext?.Request.Path == url ? "active" : string.Empty;
    }
}