@page "/settings"
@model Postapic.Pages.Settings.SettingsPage

@{
    Layout = "Shared/_Layout";
}

@if (ViewData["user-action-msg"] != null)
{
    <p class="notice">@ViewData["user-action-msg"]</p>
}
@if (ViewData["toggle-admin-msg"] != null)
{
    <p class="notice">@ViewData["toggle-admin-msg"]</p>
}

<section class="card user-table">
    <h1>Users</h1>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.UserList)
            {
                var isCurrentUser = User.Identity!.Name == user.Username;
                var confirmMessage = user.IsAdmin ? "Removing admin. Are you sure?" : $"Making '{user.Username}' admin. Are you sure?";
                <tr>
                    <td>@user.Username @(isCurrentUser ? "(you)" : "")</td>
                    <td>@(user.IsAdmin ? "Admin" : "User")</td>
                    <td>
                        @if (!isCurrentUser)
                        {
                            <form method="post" asp-page-handler="DeleteUser" data-confirm="Deleting '@user.Username'. Are you sure?">
                                <input type="hidden" asp-for="DeleteUserId" value="@user.Id">
                                <button type="submit" class="action-btn" disabled="@isCurrentUser">Delete</button>
                            </form>
                            <form method="post" asp-page-handler="ToggleAdmin" data-confirm="@confirmMessage">
                                <input type="hidden" asp-for="ToggleAdminUserId" value="@user.Id">
                                <button type="submit" class="action-btn" disabled="@isCurrentUser">Toggle role</button>
                            </form>
                        }
                        else
                        {
                            <span>(you can't modify yourself)</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<section class="card create-user-form">
    <h1>Create New User</h1>
    <form method="post" asp-page-handler="CreateUser">
        <div class="input-group">
            <label asp-for="UserModel.Username">Username</label>
            <input type="text" asp-for="UserModel.Username" required>
        </div>
        <div class="input-group">
            <label asp-for="UserModel.Password">Password</label>
            <input type="password" asp-for="UserModel.Password" required>
        </div>
        <div class="input-group">
            <label asp-for="UserModel.IsAdmin">Is admin?</label>
            <input type="checkbox" asp-for="UserModel.IsAdmin">
        </div>
        
        <button type="submit" class="submit-btn">Create User</button>
    </form>
</section>

