@page "/"
@using Microsoft.Extensions.Options
@model IndexModel
@inject IOptions<AppConfig> AppConfig
@{
    ViewData["Title"] = "Home page";
}

<div class="feed">
    @foreach (var post in Model.Posts)
    {
        var linkToPost = System.IO.Path.Join(AppConfig.Value.BaseUrl, "p", post.Permalink ?? post.Id.ToString());
        <div class="post">
            <div class="post-header">
                <div class="post-meta">
                    <span class="post-author">@post.User.Username</span>
                    <span class="post-time">@post.Timestamp</span>
                </div>
                <div class="post-menu dropdown">
                    <span class="dropdown-toggle">⋮</span>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="navigator.clipboard.writeText('@linkToPost');">Copy Link</a></li>
                        @if (DateTime.UtcNow.Subtract(post.Timestamp).TotalMinutes < 1)
                        {
                            <li>
                                <form asp-page-handler="DeletePost">
                                    <input type="hidden" asp-for="DeletePostId" value="@post.Id">
                                    <a href="javascript:void(0)" onclick="e.targetElement.closest('form').submit()">Remove</a>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <h2>@post.Title</h2>
            @if (post.Medias.Count > 1)
            {
                <div class="media carousel">
                    @foreach (var media in post.Medias)
                    {
                        <img src="@media.Key" alt="Media for post with title @post.Title">
                    }
                </div>
                <div class="carousel-indicators">
                    <span class="active"></span>
                    @for (var i = 0; i < post.Medias.Count - 1; i++)
                    {
                        <span></span>
                    }
                </div>
            }
            else
            {
                <div class="media">
                    <img src="@(post.Medias.FirstOrDefault()?.Key ?? "https://http.cat/200")" alt="Media for post with title @post.Title">
                </div>
            }
        </div>
    }
    
    <p class="pagination">
        <a href="?">&lt;&lt;</a>
        <a href="?">&lt;</a>
        <a href="?">12</a>
        <a href="?">&gt;</a>
        <a href="?">&gt;&gt;</a>
    </p>
</div>

@{
    
}